################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices/17.14.827.52834
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices
/PROG71020Lab_4/.vs/PROG71020Lab_4/copilot-chat/d67ca44e/sessions
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/2415ab87-5a9d-4c87-a68f-6f5c8d8f8fb8.vsidx
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/104f13c6-2268-4ee2-95d4-51dc2ba50dee.vsidx
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/dcae46da-c7d5-4813-92c5-27e7465cd2cc.vsidx
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/c8b43e8c-3d85-4005-b566-0fde8a7d3d17.vsidx
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/e912b073-c862-4e8b-a661-4a5c83bd4d84.vsidx
