################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices/17.14.827.52834
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices
/PROG71020Lab_4/.vs/PROG71020Lab_4/copilot-chat/d67ca44e/sessions
/PROG71020Lab_4/.vs/PROG71020Lab_4/FileContentIndex/2415ab87-5a9d-4c87-a68f-6f5c8d8f8fb8.vsidx
