################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices/17.14.827.52834
/PROG71020Lab_4/.vs/PROG71020Lab_4/CopilotIndices
